.container {
    width: calc(100% - 30px);
}
.navbar-header a{
	margin-left: -15px;
}
.navbar{
	display: none;
}
.navbar-header {
	width: 100%;
}
.navbar-header .btn{
	display: block;
}
.container .navbarColumn{
	display: block;
	height: 0px;
    width: 100%;
    border-top:1px solid #CA3131;
    /*transition: 500ms height linear;*/
}
.container .navbarColumn ul{
	float: none;
	flex-direction: column;
}
.container .navbarColumnr ul li{
	padding: 0;
}
.navbarColumn ul li a{
    padding: 12px 0;
}
section .intro {
	flex: 1 0 100%;
	padding: 0 15px;
}